<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnessapp">
    <!--
         The ACCESS_COARS
            android:background="@color/purple_500"E/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp">
        <activity android:name=".loginAndSignup.onBoardingScreen">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
        <activity android:name=".itemsInMore.profile" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".workoutPage.MapsActivity" />
        <activity android:name=".diets.recipeHomePage" />
        <activity android:name=".diets.recipe.details" />
        <activity android:name=".diets.category.categoryHomePage" />
        <activity android:name=".cards.stepsCard" />
        <activity android:name=".loginAndSignup.FillDetails" />
        <activity android:name=".loginAndSignup.signup" />
        <activity android:name=".loginAndSignup.login">
<!--            <intent-filter>-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->

<!--                <action android:name="android.intent.action.MAIN" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".BGservice"
            android:stopWithTask="false"/>

        <receiver android:name=".broadcastForBGservice">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>